<h1><i class="fa fa-user"></i> Alumno</h1>
<h4>{{ alumno.nombre | uppercase }}</h4>
<hr>
<div class="row">
    <form id="formulario" name="formulario" ng-submit="guardarAlumno(formulario.$valid)" novalidate="novalidate">
        <div ng-hide="creando">
            <div class="form-group">
                <label class="control-label" for="nombre">Código:</label>
                <input type="text" id="codigo" class="form-control"
                       name="codigo"
                       ng-model="alumno.codigo"
                       readonly="readonly">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="nombre">Nombre</label>
            <input type="text" id="nombre" class="form-control"
                   name="nombre"
                   ng-model="alumno.nombre"
                   ng-minlength="3"
                   ng-maxlength="100"
                   required="required">
        </div>
        <div class="form-group">
            <label class="control-label" for="rut">Rut</label>
            <input type="text" id="rut" class="form-control"
                   name="rut"
                   ui-mask="{{ rutMask}}" 
                   ng-model="alumno.rut"
                   mask-err-type="rut"
                   required="required"
                   validar-rut>
        </div>
        <div class="form-group">
            <label class="control-label" for="telefono">Teléfono</label>
            <input type="text" id="telefono" class="form-control"
                   name="telefono"
                   ng-model="alumno.telefono" 
                   ui-mask="{{ telefonoMask}}" 
                   mask-err-type="telefono"
                   required="required">
        </div>
        <div class="form-group">
            <label class="control-label" for="telefono">Dirección</label>
            <textarea type="text" id="telefono" class="form-control"
                      name="telefono"
                      ng-model="alumno.direccion" 
                      placeholder="Dirección del alumno" 
                      rows="5" 
                      ng-minlength="3"
                      ng-maxlength="100"
                      required="required">
            </textarea>
        </div>
        <button type="submit" class="btn btn-primary">
            <i class="fa fa-floppy-o"></i>
        </button>
        <br><br>
        <p class="text-success animate fadeIn fast" ng-show="actualizado">Registro Actualizado</p>
    </form>
</div>